body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  font-size: calc(2px + 1.5vmin);
  background-color: #393f4c;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: #4286f4;
}
.header {
  color: #4286f4;
  margin: 30px 30px 0px 30px;
  font-size: 4vh;
}
/* This determines the layout of the posters and their titles.
  currently set to arrange them to wrap */
.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* This controls the size of the posters */
.flexChild {
  width: 130px;
  height: 195px;
  /* Change back to 10 if stuff breaks */
  padding: 0px;
}

/* Whole page content, adjust this to change where it's all centered */
#wrapper {
  padding-left: 20%;
  padding-right: 10%;
}
/* The text under the posters */
.posterTitle {
  color: white;
  font-size: 1.5vh;
  padding: 10px;
  max-width: 300px;
  text-decoration: none;
  white-space: nowrap;
}
/* wraps the image and text under it */
#posterContent {
  margin-right: 20px;
  min-width: 130px;
  width: 130px;
}