body {
  background-color: #282c34;
  
}

.App {
  text-align: center;
  margin-top: 75px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


.form {
  font-size: calc(2px + 1.5vmin);
  background-color: #393f4c;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: #4286f4;
}
.header {
  color: #4286f4;
  margin: 30px 30px 0px 30px;
  font-size: 4vh;
}
/* This determines the layout of the posters and their titles.
  currently set to arrange them to wrap */
.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* This controls the size of the posters in featured list */
.flexChild {
  width: 130px;
  height: 195px;
  /* Change back to 10 if stuff breaks */
  padding: 0px;
}
/* wraps the image and text under it
  Change this to change padding between movies, their width etc 
  FOR SEARCH RESULTS */
.searchResult {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;

  min-width: 130px;
  width: 50vw;
  border-bottom: 2px solid white;
}
/* This controls the poster style for search results */
.imageResult {
  width: 130px;
  height: 195px;
  padding: 0px;
  margin-right: 7px;
  float: left;
}
/* Styling for the media title in the search results */
.searchResultTitle {
  text-align: left;
  text-decoration: none;
  font-size: 1.2em;


  margin-right: 5px;
  float: left;
  color: white;
}
/* Styling for the media release date in search results */
.searchResultDate {
  text-align: left;
  text-decoration: underline;
  font-size: 0.9em;

  margin-right: 5px;
  float: left;
  color: white;
}
/* Styling for the media title in the search results */
.searchResultOverview {
  text-align: left;
  text-decoration: none;


  margin-right: 5px;
  color: white;
}

/* The text under the posters in featured list */
.posterTitle {
  color: white;
  font-size: 1.5vh;
  padding: 10px;
  max-width: 300px;
  text-decoration: none;
  white-space: nowrap;
}
<<<<<<< HEAD

/* @media (max-width: 900px) {
  .poster {
    width: 200px;
    height: 300px;
  }
} */

/* wraps the image and text under it
=======
/* wraps the image and text under it for featured list
>>>>>>> ebf73a188086ec27fc41f799060876ce443507fe
    Change this to change padding between movies, their width etc */
#posterContent {
  margin-right: 20px;
  min-width: 130px;
  width: 130px;
}
/* Whole page content, adjust this to change where it's all centered */
#wrapper {
  padding-left: 20%;
  padding-right: 10%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
