body {
  /* background-color: #282c34; */
  background-color: #343A40;
}

.App {
  text-align: center;
  /* margin-top: 75px; */
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;

  /* background-color: #282c34; */
  
}
/* Whole page content, adjust this to change where it's all centered */
#wrapper {
  min-height: 98vh;
  background-color: #282c34;
  padding: 15px;
  box-shadow: 0px 5px 5px 10px;

  border-radius: 5px;
}
.carouselImage {
  width: 1000px;
  height: auto;
}
.carouselFeatured {
  margin: 20px 0px;
  box-shadow: 0px 0px 5px 2px;
  background-color: #282c34;
}
.carouselText {
  color: #4286f4;
  background-color: #282c34;
  border-radius: 500px;
  border: 2px solid #4286f4;
  width: 300px;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.featuredMovieContainer {
  margin-bottom: 8px;
  width: 100%;
  border-bottom: 2px solid #4286f4;
}
.featuredMovieContainer img {
  width: 200px;
  height: 310px;

  margin: 0 10px 10px 0;
  float: left;
}
.featuredMovieTitle {
  text-align: left;
  color: white;

  font-size: 1.3em;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  float: left;
  margin-right: 7px;
}
.featuredMovieReleaseDate {
  text-align: left;
  color: #4286f4;
  float: left;
  font-size: 0.8em;
}
.featuredMovieOverview {
text-align: left;
color: white;
}


/* wraps the image and text under it
  Change this to change padding between movies, their width etc */
#posterContent {
  /* margin-right: 20px; */
  margin-left: 6px;
  min-width: 50vw;
  width: 130px;
}
  /* The text under the posters in featured list */
.posterTitle {
  color: white;
  font-size: 1.5vh;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
}

.form {
  font-size: calc(2px + 1.5vmin);
  background-color: #393f4c;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: #4286f4;
}
.header {
  color: #4286f4;
  background-color: #393f4c;
  border-radius: 5px;
  padding: 5px 0px;
  box-shadow: 0px 0px 0px 2px;

  font-size: 4vh;

  font-family: 'Courier New', Courier, monospace
}
/* This determines the layout of the posters and their titles.
  currently set to arrange them to wrap */
.flexParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* This controls the size of the posters in featured list */
.featuredPoster {
  width: 130px;
  height: 195px;
}
/* wraps the image and text under it
  Change this to change padding between movies, their width etc 
  FOR SEARCH RESULTS */
.searchResult {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;

  min-width: 130px;
  width: 50vw;
  border-bottom: 2px solid white;
}
/* This controls the poster style for search results */
.imageResult {
  width: 130px;
  height: 195px;
  padding: 0px;
  margin-right: 7px;
  float: left;
}
/* Styling for the media title in the search results */
.searchResultTitle {
  text-align: left;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 5px;
  float: left;
  color: white;
}
/* Styling for the media release date in search results */
.searchResultDate {
  text-align: left;
  text-decoration: underline;
  font-size: 0.9em;

  margin-right: 5px;
  float: left;
  color: white;
}
/* Styling for the media title in the search results */
.searchResultOverview {
  text-align: left;
  text-decoration: none;


  margin-right: 5px;
  color: white;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 900px) {
  #mainContainer {
    width: 100%;
  }

  #detailsContainer {
    flex-direction: column;
    align-items: center;
  }

  #ratingsContainer {
    flex-direction: column !important;
  }

  #ratingsIcon {
    width: 5vw;
    height: 5vw;
  }

  #detailsPoster img {
    max-height: 70vw;
    padding: 0
  }

  #description {
    font-size: 2.5vh;
  }

  #slider {
    width: 75vw;
    height: 30vh;
  }

  #searchButton {
    display: none;
  }
}

@media (min-width: 901px) {
  #mainContainer {
    width: 70%;
  }

  #detailsContainer {
    flex-direction: row;
    width: 70%;
  }
  
  #ratingsContainer {
    flex-direction: row;
  }

  #ratingsIcon {
    width: 1.5vw;
    height: 1.5vw;
  }

  #detailsPoster img {
    max-height: 30vw;
    padding: 40
  }

  #description {
    font-size: 2vh
  }

  #slider {
    width: 45vw;
    height: 30vh;
  }

  #searchButton {
    display: flex;
  }
}
